@use '~@angular/material' as mat;
@use '~@angular/material/theming';

@include theming.mat-core();

$ng-benoit-tassin-primary: theming.mat.define-palette(theming.mat.$teal-palette);
$ng-benoit-tassin-accent: theming.mat.define-palette(theming.mat.$light-blue-palette);
$ng-benoit-tassin-warn: theming.mat.define-palette(theming.mat.$red-palette);

$ng-benoit-tassin-theme: theming.mat.define-light-theme((
  color: (
    primary: $ng-benoit-tassin-primary,
    accent: $ng-benoit-tassin-accent,
    warn: $ng-benoit-tassin-warn,
  )
));

@include theming.angular-material-theme($ng-benoit-tassin-theme);