<div class="root">
    <main fxLayout="column" fxLayoutAlign="space-around center">
        <h1>Mes Projets</h1>
        <div class="project" fxLayout="column" fxLayoutAlign="start stretch">
            <h3><span>Roi René</span><span *ngIf="(smallScreen$ | async)">-</span><span> Cabinet de chirurgie Maxillo Faciale à Aix en Provence</span></h3>
            <div fxLayoutAlign="space-between start">
                <img fxFlex="1 1 32%" src="/assets/img/roi-rene-1.jpg" alt="Roi René page d'accueil">
                <img fxFlex="1 1 32%" src="/assets/img/roi-rene-2.jpg" alt="Roi René page d'accueil">
                <img fxFlex="1 1 32%" src="/assets/img/roi-rene-3.jpg" alt="Roi René page d'accueil">
            </div>
        </div>
    </main>
</div>