<h1>Animations</h1>

<section class="animations">
  <button [@rubberBand]="rubberBand" mat-raised-button (click)="rubberBand = !rubberBand">Rubber Band!</button>
  <button [@bounce]="bounce" mat-raised-button (click)="bounce = !bounce">Bounce!</button>
  <button [@flash]="flash" mat-raised-button (click)="flash = !flash">Flash!</button>
  <button [@pulse]="pulse" mat-raised-button (click)="pulse = !pulse">Pulse!</button>
  <button [@shakeX]="shakeX" mat-raised-button (click)="shakeX = !shakeX">Shake X!</button>
</section>
